packages
node_modules
.vs
*.sln
ApplicationInsights.config
bin
debug
obj
PublishProfiles
.vscode
install
semantic
canvas
v2/backend/Vsb\.UrgentApp\.UI/Vsb\.UrgentApp\.API/Logs/

v2/backend/Vsb\.UrgentApp\.UI/Db/
